[submodule "sources/js-emoji"]
	path = sources/js-emoji
	url = git://github.com/iamcal/js-emoji.git
[submodule "sources/emoji-data"]
	path = sources/emoji-data
	url = git://github.com/iamcal/emoji-data.git
[submodule "sources/gemoji"]
	path = sources/gemoji
	url = git://github.com/github/gemoji.git
	ignore = dirty
